<br>
<br>
<br>
<br>

<div class="container">
    <div class="text-center my-5" *ngIf="items.length === 0;">
        <h4>Oops!!! Your Cart Is Empty</h4>
        <button class="btn btn-primary" routerLink="/product">Go To Shop</button>
    </div>


    <div class="container" *ngIf="items.length > 0">
        <div class="row">
            <div class="col my-4">
                <table class="table">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>Images</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of items">
                            <td class="d-flex align-items-center justify-content-around">
                                <img [src]="item.image" style="width:150px;height:80px;" />
                                <span class="text-danger" style="cursor:pointer;"><i class="fa fa-trash"
                                        (click)="clearCart(product)"></i></span>
                            </td>
                            <td>
                                <p>{{item.name}}</p>
                            </td>
                            <td>
                                <p>{{item.price | currency:'INR'}}</p>
                                <!-- <input type="number" min="1" [ngmodel]="item.price" ng:required class="form-control"> -->
                            </td>
                            <td>
                                <!-- <form>
                     <div class="value-button" id="decrease" >
                       <i class="fa fa-minus"></i>
                     </div>
                     <input type="number" id="number" />
                     <div class="value-button" id="increase">
                       <i class="fa fa-plus"></i>
                     </div> -->
                                <!-- <div class="form">
                                 <input type="number" id="qty"  value="1" class="form-control">
                                 </div> -->

                                <!-- </form> -->

                                <!-- <div class="form-check-inline">
                                <button class="btn btn-primary" (click)="plus()"><i class="fa fa-plus"></i></button>
                                </div>
                                <div class="form-check-inline">
                                <input type="text" class="form-control"  [(ngModel)]="item.quantity" >
                                </div>
                                <div class="form-check-inline">
                                <button class="btn btn-primary" (click)="minus()"><i class="fa fa-minus"></i></button>
                                </div> -->
                                <input type="number" min="1" value={{item.quantity}} id={{item.id}}
                                    [(ngModel)]="item.quantity" class="form-control">
                                <!-- <p>{{item.qty}}</p>  [(ngModel)]="item.qty"{{item.quantity}} (change)="OnCartitemChanged($event)"-->
                                <!-- <input type="number" min="1"   class="form-control"> -->
                                <!-- <p>{{item.quantity}}</p> -->
                            </td>
                            <td>
                                <p>{{ item.quantity * item.price | currency:'INR'}}</p>
                            </td>
                        </tr>


                        <tr class="border-0">
                            <td style="border: none;"></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL</td>
                            <!-- <td>{{getTotal() | currency:'INR'}}</td> -->
                            <td>{{CartService.getTotal() | currency:'INR' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>