<!-- <footer>
    <div class="container">
        <div class="row">
            <span class="copyright">
                Copyright &copy; All rights reserved | Tejaswiny Hadapad
            </span>
        </div>
    </div>
</footer> -->
<!-- <small>&copy; Made by Tejaswiny S Hadapad</small> -->

<footer class="footer  bg-light">
  <div class="container">
    <div class="footer-icons">
      <a href="https://www.twitter.com" target="_blank" class="footer-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="footer-icon">
       <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="footer-icon">
       <i class="fab fa-instagram"></i>
      </a>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 All rights reserved | This application is made with by Tejaswiny S Hadapad</p>
    </div>
  </div>
</footer>